@import "../../_globalColor";

.footer-text {
  text-align: center;
  color: $subTitle !important;
}

.dark-mode {
  color: $textColorDark !important;
}

.footer-div {
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.center-emoji-footer {
  margin: 0 auto 0 auto;
  width: 2.5em;
  height: 2.5em;
}
